#aboutMe {
	display: none;
    margin: 0px auto;
    margin-top: 10px;
}

#bio {
	margin: 0px 20px;
	line-height: 200%;
	font-size: 0.8em;
}

#aboutBox {
	max-width: 800px;
	margin: auto;
}

/* iPad vertical is 768px */

@media (min-width: 668px) {
    #aboutMe {
		/*margin-top: 30px;*/
    }

    #bio {
    	font-size: 1em;
    }
}


/* Small desktop starts at 992px*/

@media (min-width: 992px) {}




/* Larger desktop starts around 1200px */

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}