#graphicDesignBox {
	width: 280px;
	margin-top: 15px;
	margin-bottom: 40px;
	margin-right: auto;
	margin-left: auto;
	display: none;
}

#galleryBox {
	margin-top: 30px;
	text-align: center;
}

.galleryTab {
	float: left;
}

.galleryThumbnail {
	width: 70px;
	height: 70px;
	object-fit: cover;
}

.clear {
	clear:both;
	text-align: center;
	padding-top: 30px;
}

/*#links {
	display: grid !important;
	grid-template-columns: auto auto;
}*/

/* iPad vertical is 768px */

@media (min-width: 668px) {
	#graphicDesignBox {
		width: 600px;
		margin-bottom: 40px;
		display: none;
	}
	.galleryThumbnail {
		width: 120px;
		height: 120px;
		object-fit: cover;
	}
}


/* Small desktop starts at 992px*/

@media (min-width: 992px) {}




/* Larger desktop starts around 1200px */

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}