body {
    font-family: Futura !important;
    color: #333333 !important;

    padding-bottom: 50px !important;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container-fluid {
    /*display:none;*/
}

#header {
    display: none;
    text-align: center;
    margin-top: 20px;
}

#title {
    display: inline;
    text-align: center;
}

#home {
    margin: 0px auto;
    margin-top: 30px;

    display: grid;
    grid-template-columns: auto;
    text-align: center;
}

#profileInfo {
    line-height: 200%;
    margin-top: 20px;
}

#details {
    display: none;
}

#name {
    font-size: 23px;
}

#tagline {
    font-size: 18px;
}

#location {
    font-size: 16px;
}

#profilePicHolder {
    margin: auto auto;
}

#bottom {
    max-width: 700px;
    margin: 0px auto;
    margin-top: 0px;
}

#profileButtons {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 300px;
    margin: auto auto;
    margin-top: 20px;
}

#home.button {
    text-align: center;

    transition: all .3s ease !important;
}



/*dealing with the buttons*/

.myButton {
    padding: 8px 15px !important;
    position: relative;
    background-color: white !important;
    color: #333333 !important;
    border: black !important;
    top: 0px;
    margin: 0px 10px;

    transition: all .1s ease !important;

    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    /*box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.30);*/
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.30);
}

.myButton:hover {
    transform: translateY(2px);

    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.30);
}

/*.myButton:active {
    transform: translateY(0px);

    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.30);
}*/


/*end of buttons*/

#profilePic {
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 30px;

    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.30);

    transition: box-shadow 0.1s ease-in-out;
}

.modal.profilePicModal {
    margin: auto auto;
}


/*
#profilePic:hover {
    cursor: pointer;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}*/

#social {
    display: none;

    margin: auto auto;
    text-align: center;
    max-width: 200px;
    margin-top: 30px;

    /*transition: all .4s ease !important;*/
}

.socialIcon {
    fill: gray;
    transition: all .25s ease;
    margin: 0px 8px;
}

.socialIcon:hover {
    cursor: pointer;
}

#instagram:hover {
    fill: purple;
}

#linkedin:hover {
    fill: #1a75ff;
}

#dribbble:hover {
    fill: #e600ac;
}

.backButton {
    text-align: center;
}




/* iPad vertical is 768px */

@media (min-width: 668px) {

    #profilePic {
        height: 200px;
        width: 200px;
    }

    #home {
        margin-top: 70px;
        max-width: 600px;
        display: grid;
        grid-template-columns: 200px auto;
        text-align: left;
    }

    #profileInfo {
        margin-left: 40px;
    }

    #profileButtons {
        margin-left: 0px;
        max-width: 100px;
        margin-top: 24px;
    }

    #social {
        margin-top: 70px;
    }

    #name {
        font-size: 30px;
    }

    #tagline {
        font-size: 20px;
    }

    #location {
        font-size: 18px;
    }

    .myButton {
        margin: 0px 0px;
        margin-right: 30px;
    }

    .backButton {
        text-align: left;
        margin-left: 20px;
    }

/*dealing with the buttons*/

    .myButton {
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.30);
    }

    .myButton:hover {
        transform: translateY(-2px);

        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.30);
    }

    .myButton:active {
        transform: translateY(2px);

        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.30);
    }
    /*end of buttons*/
}




/* Small desktop starts at 992px*/

@media (min-width: 992px) {}




/* Larger desktop starts around 1200px */

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}