#myWork {
	display: none;
	margin: 0px auto;
    margin-top: 30px;
    max-width: 500px;
}


/* iPad vertical is 768px */

@media (min-width: 668px) {
/*    #myWork {
		margin-top: 20px;
		max-width: 500px;
    }*/
}




/* Small desktop starts at 992px*/

@media (min-width: 992px) {}




/* Larger desktop starts around 1200px */

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}