
#projectBox {
    position: relative;
    display: none;
    margin-top: 10px;
}

#projectBoxTabs {
    /*padding: 20px;*/
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5px;
    justify-content: center;
    margin: 20px 0px;
}


.projectTab {
    position: relative;
    font-size: 1rem;
    width: 200px;
    height: 200px;
    text-align: center;
    /*border-radius: 15px;*/
    cursor: pointer;
    transition: all .1s ease !important;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.30);
    margin-bottom: 27px;
}

.projectTabScreen {
    text-align: center;
    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-left: 13px;
	padding-right: 13px;
	width: 100%;
	height: 100%;
	color: white;
	/*background-color: #002e4d;*/
    font-size: 1.3em;
    /*font-weight: 100	;*/
    z-index: 3;
    background:rgb(0, 46, 77, 0);
    transition: .3s ease;
}

.projectTabName {
	color:rgb(255, 255, 255, 0);
	transition: .3s ease;
	display: none;
}

.projectName {
	text-align: center;
	font-size: 1.2rem;
	top: 10px;
}

.projectTab:hover .projectTabScreen {
	background:rgb(0, 46, 77, 0.6);
}

.projectTab:hover .projectTabName {
	color:rgb(255, 255, 255, 1);
}



.emptyprojectTab {
    display: table;
    vertical-align: middle;
    text-align: center;
    width: 200px;
    height: 200px;
    /*font-size: 40px;*/
    color: gray;
    border: 2px dashed gray;
}

.emptyprojectTab.plus {
    margin: auto auto;
    font-weight: bold;
    font-size: 3rem;
}

.projectTab:hover {
    transform: translateY(2px);

    box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.30);
}

.projectTabThumbnail {
    width: 100%;
    height: 100%;
    /*padding: 5px;*/
}

.projectBox h1 {
    position: absolute;
    right: 7px;
}



@media(min-width: 500px) {
    #projectBoxTabs {
        grid-template-columns: auto auto;
        grid-gap: 30px;
    }

    .projectTab {
    	margin: 0px;
    }

    .projectTabName {
    	display: inline;
    }

    .projectName {
    	display: none;
    }
}



/* iPad vertical is 768px */

@media (min-width: 668px) {
    .projectTab {
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.30);
    }

    .projectTab:hover {
        transform: translateY(-2px);

        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.30);
    }

    .projectTab:active {
        transform: translateY(1px);

        box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.30);
    }

    #projectBoxTabs {
        grid-template-columns: auto auto;
    }
}








/* Small desktop starts at 992px*/

@media (min-width: 992px) {

    #projectBoxTabs {
        grid-template-columns: auto auto;
    }
}








/* Larger desktop starts around 1200px */

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}