#aboutMe {
	display: none;
    margin: 0px auto;
    margin-top: 10px;
}

#bio {
	margin: 0px 20px;
	line-height: 200%;
	font-size: .3em;
	/*text-align: center;*/
}

#aboutBox {
	max-width: 1000px;
	margin: auto;
}

#beginning {
	/*border-left: 2px solid black;*/
}

#list {
	/*max-width: 600px;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
	/*border-left: 2px solid black;*/
}

#aboutButtons {
	display: grid;
    grid-template-columns: 150px;
	justify-content: center;
    margin: auto auto;
    margin-top: 20px;
    text-align: center;
}

/* iPad vertical is 768px */

@media (min-width: 400px) {
    #aboutMe {
		/*margin-top: 30px;*/
    }

    #aboutButtons {
    	grid-template-columns: 150px 150px;
    }

    #bio {
    	font-size: 1.1em;
    }
}
