@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://benjaminrubin.github.io/fonts/iconfont/MaterialIcons-Regular.eot);
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/blob/master/fonts/iconfont/MaterialIcons-Regular.woff2?raw=true) format('woff2'),
        url(https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/blob/master/fonts/iconfont/MaterialIcons-Regular.woff?raw=true) format('woff'),
        url(https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/blob/master/fonts/iconfont/MaterialIcons-Regular.ttf?raw=true) format('truetype');
}
      

@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    src: url('https://benjaminrubin.github.io/fonts/futura/futura.eot');
    src: local('Futura'),
        url(https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/blob/master/fonts/futura/futura.woff2) format('woff2'),
        url(https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/blob/master/fonts/futura/futura.woff) format('woff'),
        url(https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/blob/master/fonts/futura/futura.ttf) format('truetype');
}


@font-face {
    font-family: 'Futura-Light';
    font-style: normal;
    font-weight: 200;
    src: url('https://benjaminrubin.github.io/fonts/futura/futura.eot');
    src: local('Futura'),
        url(https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/blob/master/fonts/futura/futura-light.woff2) format('woff2'),
        url(https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/blob/master/fonts/futura/futura-light.woff) format('woff'),
        url(https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/blob/master/fonts/futura/futura-light.ttf) format('truetype');
}




.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

body {
    margin: 0;
    height: 100%;
    font-family: Futura, 'Roboto', 'Source Sans Pro', sans-serif;
    color: #333333;

    padding-bottom: 50px !important;

    /*The properties below enhances the quality of the display font*/
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1 {
    position: relative;
    font-size: 23px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    /*text-align: left;*/
}

h2 {
    font-weight: normal;
    font-size: 20px;
}

footer {
    /*position: absolute;*/
    /*bottom: 0px;*/
    /*right: 0px;*/
    /*left: 0px;*/
    margin-top: 30px;
    font-size: 12px;
    width: 100%;
    text-align: center;
    /*margin-bottom: 30px;*/
}

.container {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#profile-container {
    /*max-width: 400px;*/
    margin: auto auto;
    margin-top: 40px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    /*text-align: center;*/
    /*width: 500px;*/
}

#profile-picture {
    justify-self: center;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-image: url(../images/thumbnails/profilepic.jpg);
    border-radius: 30px;

    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.30);

    transition: box-shadow 0.1s ease-in-out;
}

#profile-info {
    margin-top: 20px;
    justify-items: center;
    display: grid;
    grid-template-rows: auto auto auto auto;
    position: relative;
    grid-gap: 10px;
}


#profile-info #tag-line {
    font-size: 18px;
    margin: 7px 0px;
}

#profile-info #location {
    position: relative;
    top: -16px;
    font-size: 16px;
    margin: 0 0;
    /*height: 50px;*/
}

#profile-info #pin {
    position: relative;
    top: 13px;
    /*left: 3px;*/
    margin-right: 4px;
}


#profile-buttons {
    display: grid;
    grid-template-columns: auto auto;
    /*margin: auto auto;*/
    justify-content: space-between;
    grid-gap: 20px;
}


/*dealing with the buttons*/

.btn {
    display: inline;
    padding: 8px 15px;
    position: relative;
    background-color: white;
    color: #333333;
    border: black;
    border-radius: 3px;
    margin: 0px 10px;
    text-transform: uppercase;
    transition: all .1s ease;
    font-weight: 500;
    font-size: 16px;
    user-select: none;

    width: 85px;
}


.off {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.30);
}

.off:hover {
    transform: translateY(2px);
    box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.30);
    cursor: pointer;
}

.profile-btn {
    margin: 0px 0px;
    /*margin-right: 30px;*/
    /*margin: 10px 0px;*/
    padding-left: 35px !important;
}


.on {
    color: white;
    background-color: #555555;
    transform: translateY(2px);

    box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.30) !important;

}


.icon {
    position: absolute;
    top: 7px;
    left: 8px;
}


.modal.profile-pic-modal {
    margin: auto auto;
}


@media (min-width: 590px) {
    h1 {
        font-size: 30px;
    }

    #profile-container {
        width: 540px;
        max-height: 400px;
        /*grid-template-columns: 200px 340px;*/
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
    }

    #profile-picture {
        height: 200px;
        width: 200px;
    }

    #profile-info {
        margin-top: 0px;
        justify-items: left;
        margin-left: 40px;
    }


    #profile-buttons {}


    #tagline {
        font-size: 20px;
    }

    #location {
        font-size: 18px;
    }

    /*dealing with the buttons*/
    .btn {
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.30);
    }

    .off:hover {
        transform: translateY(-2px);

        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.30);
    }


    .off:active {
        transform: translateY(1px);

        box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.30);
    }

    footer {
        font-size: 15px;
    }

}