/* raleway-200 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'),
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-200.woff') format('woff'), /* Modern Browsers */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-200.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-300 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Raleway Light'), local('Raleway-Light'),
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-300.woff') format('woff'), /* Modern Browsers */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-300.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-500 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Raleway Medium'), local('Raleway-Medium'),
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-500.woff') format('woff'), /* Modern Browsers */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-500.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-600.woff') format('woff'), /* Modern Browsers */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Raleway Bold'), local('Raleway-Bold'),
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-800 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-800.woff') format('woff'), /* Modern Browsers */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://raw.githubusercontent.com/benjaminrubin/benjaminrubin.github.io/master/fonts/raleway-v12-latin-800.svg#Raleway') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'Raleway', sans-serif;
    color: #333333;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    padding: 40px;
    padding-top: 30px;

}

hr {
    width: 100%;
    margin: 30px 0px;
}

.video {
    margin-right: 30px;
    width: 300px;
    height: 170px;
    margin-bottom: 20px;
}

#name {
    font-family: Raleway;
    font-weight: 500;
    font-size: 32px;
    color: #333333;
    position: relative;
    left: -3px;
}

.subheader {
    font-family: Raleway;
    font-weight: 500;
    font-size: 20px;
    color: #4d4d4d;
    margin: 10px 0px;
}


#social-links {
    margin: 20px 0px;
    position: relative;
    left: 2px;
}

.social-icon {
    fill: #a6a6a6;
    margin-right: 20px;
}

.social-icon:hover {
    fill: #333333;
}


.title {
    font-family: Raleway;
    font-weight: 500;
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px
}

.subtitle {
    font-family: Raleway;
    font-weight: 300;
    font-size: 18px;
    color: #4A4A4A;
    margin-bottom: 20px;
}

.gallery-container {
    width: 100%;
    margin: 20px 0px;
}

.current-image-holder {
    margin: auto auto;
    max-width: 800px;
    margin-bottom: 20px;
}

.current-image {
    display: block;
    height: auto;
    max-width: 100%;
    margin: auto auto;
    border: 1px solid #d9d9d9;
}

.thumbnails-container {
    margin-bottom: 20px;
}

.thumbnail {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    transition: .12s;
    object-fit: cover;
}

.thumbnail:hover {
    cursor: pointer;
    border: 1px solid #333;
}

.selected {
    border: 1px solid #333;
}


.thumbnail>img {
    /*width: 100%;*/
}

.track {
    margin-bottom: 20px;
}

footer {
    padding-bottom: 12px;
    font-size: 18px;
    width: 100%;
    text-align: center;
    /*margin-bottom: 30px;*/
}


@media (min-width: 500px) {
    #name {
        font-size: 60px;
    }

    .subheader {
        font-size: 30px;
        font-family: Raleway;
        font-weight: 300;
    }

    .title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 20px;
    }


    .video {
        margin-right: 30px;
        width: 400px;
        height: 240px;
    }
}